<div class="title">
  <h1>Ver compra</h1>
</div>
<div class="container">
  <mat-card class="card">
    <mat-card-title >
      Diana
    </mat-card-title>
    <br>
    <mat-card-content>
      <p><strong>cantidad:</strong></p>
      <p><strong>email:</strong></p>
      <p><strong>Telefono:</strong></p>
    </mat-card-content>
    <mat-card-actions class="center-button">
      <button routerLink="/listCompras" mat-raised-button color="primary">Volver</button>
    </mat-card-actions>
  </mat-card>

</div>

